.banner {
    position: relative;
    background-image: url('./assets/images/dogs.jpg');
    background-size: cover;
    background-position: top;
    height: 60vh;
    color: white;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.google-map {
    position: relative;
    padding-bottom: 56.25%;
    height: 60vh;
    overflow: hidden;
}

.google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
