<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nordbyen hundepark</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="true"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
    <div id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/nordbyenhundepark/index.html">Hjem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nordbyenhundepark/regler.html">Regler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nordbyenhundepark/nyheter.html">Nyheter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Booking</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
